.login-btn {
  width: 140px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(6, 0, 125);
}

.common-input {
  margin: 10px;
}

.wrapper {
    display: block;
    text-align: center;
    
}