.login-btn {
  width: 140px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(6, 0, 125);
}

.common-input {
  margin: 10px;
  height: 25px;
}

.login-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vh;
  grid-template-rows: 2fr;
  gap: 30px;
  justify-content: center;
}
